* {
    box-sizing: border-box;
}

#app {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background: #222;
}

.header > * {
    color: #eeeeee;
}

.header__turn {
    padding: 12px;
}

.header__status {
    padding: 12px;
    flex-grow: 1;
    text-align: center;
}

.header__restart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.board {
    display: grid;
    background: lightgray;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board__tile {
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: cursive;
    color: #222;
}

.board__tile:hover {
    background: lightgray;
}

.board__tile--winner {
    color: green;
}

body {
    display: grid;
    font-family: Arial, sans-serif;
    gap: 1rem;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.o-header {
    grid-area: header;
    padding: 1.5rem;
    font-family: "Comic Sans MS";
    font-size: 32px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: center;
}

.o-aside {
    grid-area: aside;
    text-align: aside;
    box-sizing: aside;
}

.o-main {
    grid-area: main;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.o-footer {
    grid-area: footer;
    padding: 1rem;
    text-align: center;
}

.o-header, .o-aside, .o-main, .o-footer {
    background: lightgray;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

p {
    white-space: pre;
}

p.centered {
    text-align: center;
}